*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}


:root{
 /* Primary */

--LimeGreen: hsl(163, 72%, 41%);
--BrightRed: hsl(356, 69%, 56%);

--Facebook: hsl(208, 92%, 53%);
--Twitter: hsl(203, 89%, 53%);
--Instagram:linear-gradient (to left, hsl(37, 97%, 70%) ,to right, hsl(329, 70%, 58%));
--YouTube: hsl(348, 97%, 39%);

 /* Dark Theme */
--VeryDarkBlue: hsl(230, 17%, 14%);
--VeryDarkBlue: hsl(232, 19%, 15%);
 --DarkDesaturatedBlue: hsl(228, 28%, 20%);
--DesaturatedBlue: hsl(228, 34%, 66%);
--White: hsl(0, 0%, 100%);

 /* Light Theme */

--White: hsl(0, 0%, 100%);
--VeryPaleBlue: hsl(225, 100%, 98%);
--LightGrayishBlue: hsl(227, 47%, 96%);
--DarkGrayishBlue: hsl(228, 12%, 44%);
--VeryDarkBlue: hsl(230, 17%, 14%);

/* Dark Theme */
--Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%),

/* light theme */
--Toggle: hsl(230, 22%, 74%)
}


body {
  font-family: "Inter", sans-serif;
  background-color:var(--white);
   ;
}

.container{
  margin:30px 0px;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  height: 100vh;

}
.top-section{
  display: flex;
  flex-direction:column;
  margin-bottom: 30px;;

  
}
.heading-container{
  
  margin-bottom: 40px;
  
}
.heading{
  font-size: 30px;
}
.main-heading{
  font-size: 15px;
  
}
.total-follow{
  /* margin-top:5px; */
  color: var(--DarkGrayishBlue);
  font-weight: 600;
}

.main-cards{
  /* display: flex;
  flex-wrap: wrap; */
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.card{
   background-color:hsl(227, 47%, 96%) ;
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;
   width:250px;
   height:220px;
  
   margin-right:30px;
   border-radius: 4px;
   overflow: hidden;
   margin-bottom: 30px;
   padding: 20px;
}
.card:hover{
  background-color:hsla(228, 12%, 44%,0.2);
}
.card-facebook{
  border-top:4px solid var(--Facebook);
}
.card-twitter{
  border-top:4px solid var(--Twitter);
}
.card-instagram{
  
border-top:4px solid red; 
}
.card-youtube{
  border-top:4px solid var(--YouTube)
}
.fname{
  margin-top:20px;
  color:var(--DarkGrayishBlue) ;
}
.year{
  margin-top:20px;
  font-size: 45px;
}
.up{
  margin-top:20px;
  font-size: 13px;
  color:var(--LimeGreen) ;
}
.down{
  margin-top:20px;
  font-size: 13px;
  color:var(--BrightRed) ;
}
.followers{
  margin-top:0px;
  color:var(--DarkGrayishBlue) ;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.icons{
  margin-right:10px;
  transform: translateY(4px);
}

.bottom-section{
 display: flex;
  flex-direction:column;
  /* align-items: center; */
  margin-bottom: 30px;;

  
}

.bottom-cards{
 /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: auto auto auto auto;

  
  
  /* flex-wrap: wrap; */
}
.bottom-card{
  width:250px;
   height:120px;
   background-color:hsl(227, 47%, 96%) ;
   display: flex;
   flex-direction: column;
   /* justify-content: space-between; */
   /* align-items: center; */
   margin-right:30px;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 5px;
}
.bottom-card:hover{
  
   background-color:hsla(228, 12%, 44%,0.3);
   
}

.bottom-heading{
  margin-bottom: 50px;
  font-size: 19px;
  color:var(--DarkGrayishBlue) ;
}
.left-part{
   
   display: flex;
   justify-content: space-between;
    margin-bottom:30px; 
    margin-top:0px; 
   /* flex-direction: column; */
}
.left-part p{

  font-size: 15px;
  color: var(--DarkDesaturatedBlue);
  font-weight: bold;
opacity: 0.8;
  /* margin-bottom:30px; */
}
.right-part{
   display: flex;
   justify-content: space-between;
}
.icons{
  cursor: pointer;
}